
<div class="row" style="clear: both">
    <div class="col-md-2 col-md-offset-0" style="list-style: none;background-color: #f4f5f7;height:440px">
        <ul style="list-style: none;text-align: left;padding-left: 0px;">
            <li class="space">CSS BASICS</li>
            <li class="space">CSS TABLES</li>
            <li class="space">CSS IMAGES</li>
            <li class="space">CSS ATTRIBUTES</li>
            <li class="space">CSS PARAGRAPHS</li>
            <li class="space">CSS COMMENTS</li>
            <li class="space">CSS LINKS</li>
            <li class="space">CSS HEADINGS</li>
            <li class="space">CSS FORMATTING</li>
            <li class="space">CSS STYLES</li>
            <li class="space">CSS LAYOUTS</li>

        </ul>
    </div>
    <div class="col-md-10">
        <div data-ui-view=""></div>
    </div>
</div>
