
    <div class="row" style="clear: both">
        <div class="col-md-2 col-md-offset-0" style="list-style: none;background-color: #f4f5f7;height:440px">
            <ul style="list-style: none;text-align: left;padding-left: 0px;">
                <li class="space" ui-sref="html.htmlBasics">HTML BASICS</li>
                <li class="space" ui-sref="html.htmlTables">HTML TABLES</li>
                <li class="space" ui-sref="html.htmlImages">HTML IMAGES</li>
                <li class="space">HTML ATTRIBUTES</li>
                <li class="space">HTML PARAGRAPHS</li>
                <li class="space">HTML COMMENTS</li>
                <li class="space">HTML LINKS</li>
                <li class="space">HTML HEADINGS</li>
                <li class="space">HTML FORMATTING</li>
                <li class="space">HTML STYLES</li>
                <li class="space">HTML LAYOUTS</li>

            </ul>
        </div>
        <div class="col-md-10">
            <div data-ui-view=""></div>
        </div>
    </div>
