<div class="row" style="height: 600px;clear: both">
    <div class="col-md-2 col-md-offset-0" style="height: 500px;background-color: #f4f5f7;">
        <div>
            <h4>HTML TUTORIAL</h4>
            <ul style="list-style: none;text-align: left;padding: 0px">
                <li ui-sref="HTML.HTMLTUTORIALS">HTML HOME</li>
                <li>CSS INTODUCTION</li>
                <li>CSS EDITORS</li>
                <li>CSS BASIC</li>
                <li>CSS ELEMENTS</li>
                <li>CSS ATTRIBUTES</li>
                <li>CSS PARAGRAPHS</li>
                <li>CSS STYLES</li>
                <li>CSS FORMATING</li>
                <li>CSS QUATATION</li>
                <li>CSS COMMENTS</li>
                <li>CSS COLORS</li>
                <li>CSS LINKS</li>
                <li>CSS IMAGES</li>
            </ul>
        </div>
    </div>
    <div data-ui-view="" class="col-md-10" style="height: 500px;background-color: red;">
    </div>
</div>

