<html>
  <head>
	<title>Grades</title>
	<link rel="stylesheet" type="text/css" href="..\css\main.css">
	<script type="text/javascript" src="..\js\allscripts.js"></script>
  </head>
  <body>
	<div class="grademain" >
	  <h1 align="center">GRADE CALCULATOR</h1>
	    <div  class="childgrade">
          <span  class="span1"> Enter Your Marks:</span>

          <form action="" onSubmit="return Grade()">
            <input type="text" id="marks"><br><br>
			<input type="submit" value="Grade" id="gbutton">
			<input type="button" value ="clear" onClick="Clear();">
			<button id="back"><a href="mainsheet.html"  id="backbutton">Back</a></button>
			<p id='demo'></p>
		</form>
</div>
	</div>
</body>
</html>