
<html>
<head></head>
<link rel="stylesheet" type="text/css" href="..\css\main.css">
<body>
<div class="maindiv">
<div class="container">
   <div id="header">
    <div id="umdimage" ><img src="..\Images\umd.jpg"  height="80%" ></div>
    <div  id="cnimage"><img src="..\Images\cn.png"  height="45%" ></div>
    <div  id="globeimage"><img src="..\Images\globe.gif"  height="70%" ></div>
   </div>
   <div id="links" >
    <div id="umdlink"><a href="http://www.umd.edu" target="_blank" style="color: blue">http://www.umd.edu</a>,</div>
    <div id="cslink"><a href="http://www.cs.umd.edu" target="_blank" style="color:blue">http://www.cs.umd.edu</a>,</div>
    <div  id="testudolink"><a href="http://www.testudo.umd.edu" target="_blank" style="color: blue">http://www.testudo.umd.edu</a></div>
   </div>
  <div id="section3">
    <div>
      <h2 id="H2"><u>Introduction</u></h2>
      <p id="p1"><span id="s1">Terps Calculators Inc.</span> implements and provides these calculators for your use.We keep expanding our collection every day.so make sure youy stop by often.</p>
    </div> 
    <div><h2 id="h3"><u>Calculators</u></h2>
    </div> 
    <div id="gradecal"><img src="..\Images\calculatorImage.png"  height="10%" > <a style="position: relative;top: -14px;" href="..\view\grades.html" id="graderef" class="cals">Grades Calculator</a>
    </div>
    <div id="interestcal"><img src="..\Images\calculatorImage.png" height="10%"> <a style="position: relative;top: -14px;" href="..\view\interest.html" id="interestref" class="cals">Interest Calculator</a></div></div>
  
  <div id="footer">
    <div><p id="d9">Terps Calculators Inc.&#174;</p>

  </div>
</div>
</div>

</div>
</body></html>
