<div class="row" style="height: 600px;clear: both">
    <div class="col-md-2 col-md-offset-0" style="height: 500px;background-color: #f4f5f7;">
        <div>
            <h4>HTML TUTORIAL</h4>
            <ul style="list-style: none;text-align: left;padding: 0px">
                <li ui-sref="HTML.HTMLTUTORIALS">HTML HOME</li>
                <li>HTML INTODUCTION</li>
                <li>HTML EDITORS</li>
                <li>HTML BASIC</li>
                <li>HTML ELEMENTS</li>
                <li>HTML ATTRIBUTES</li>
                <li>HTML PARAGRAPHS</li>
                <li>HTML STYLES</li>
                <li>HTML FORMATING</li>
                <li>HTML QUATATION</li>
                <li>HTML COMMENTS</li>
                <li>HTML COLORS</li>
                <li>HTML LINKS</li>
                <li>HTML IMAGES</li>
            </ul>
        </div>
    </div>
    <div data-ui-view="" class="col-md-10" style="height: 500px;background-color: red;">
    </div>
</div>

